################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewAgeFramework/NewAgeFramework/dbNew.mdf
